<footer>
    <section class="footer-2__area-common overflow-hidden">
        <div class="footer-2__main-wrapper position-relative ">
            <div class="container">
            <div class="row g-24 mb-minus-50">
                <div class="col-xl-3 col-sm-8 ">
                    <div class="footer-2__widget footer-2__widget-item-1">
                        <div class="footer-2__logo mb-15">
                            <a >
                                <img class="img-fluid" src="/assets/imgs/logo/restau.png" alt="logo not found">
                            </a>
                        </div>

                       
                    </div>
                </div>

                <div class="col-xl-2 col-sm-4 ">
                    <div class="footer-2__widget footer-2__widget-item-2">
                        <div class="footer-2__widget-title">
                            <h4>Category</h4>
                        </div>
                        <div class="footer-2__link">
                            <ul>
                                <li><a >Morning</a></li>
                                <li><a >Lunch</a></li>
                                <li><a >Dinner</a></li>
                                <li><a >Fast Food</a></li>
                                <li><a >Beverage</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-3 col-sm-6">
                    <div class="footer-2__widget footer-2__widget-item-3">
                        <div class="footer-2__widget-title">
                            <h4>Information</h4>
                        </div>

                        <div class="footer-2__link">
                            <ul>
                                <li ><a >Delivery</a></li>
                                <li><a >Reservation</a></li>
                                <li><a >Discount</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="footer-2__widget footer-2__widget-item-4">
                        <div class="footer-2__widget-title">
                            <h4>Contact Us</h4>
                        </div>

                        <div class="footer-2__contact">
                            <ul>
                                <li><a ><i class=" icon-location"></i>Address,Address</a></li>
                                <li><a > <i class="icon-phone"></i>(+216) 00111222</a></li>
                                <li><a ><i class="icon-mail-alt"></i>examplegmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-5 ">
                    <div class="footer-2__widget footer-2__widget-item-5">
                        <div class="footer-2__widget-title">
                            <h4>social media</h4>
                        </div>
                        <div class="footer-2__content mb-30 mb-xs-35">
                            <p class="mb-0">Want to see more?...<br> Follow us on social media!</p>
                        </div>
                        <div class="footer-2__social mt-30 mt-xs-30">
                            <a href="https://twitter.com/"><i class="icon-twiter"></i> </a>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/"><i class="icon-instagram"></i></a>
                        </div>
                
            </div>
        </div> 
<!--
                <div class="col-xl-3 col-md-5 ">
                    <div class="footer-2__widget footer-2__widget-item-5">
                        <div class="footer-2__widget-title">
                            <h4>Newsletter</h4>
                        </div>

                        <div class="footer-2__newsletter">
                            <input type="text" placeholder="Enter your Email...">
                            <a href="team-details.html" class="rr-btn hover-anim">Subscribe<span class="hover-bg"></span></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        </div>

     
    </section>
</footer>