.food-menu-tab__item {
  display: flex;
  padding: 12px;
  border: 1px solid #f4ebeb;
  border-radius: 8px;
}


  
.product__thumbnail img {
  width: 100%;
  height: 100%;
  max-height: 90px;
}




/* Alignement des colonnes */
.table th, .table td {
  text-align:justify;
  vertical-align: middle;
}

/* Alignement spécifique pour le nom du produit */
.product__name {
  text-align: left;
  padding-left: 15px;
}

/* Ajustement des boutons quantité */
.product__quantity__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajustement de la largeur des colonnes */
th.product-remove { width: 5%; }
th.product-name { width: 35%; }
th.product-price { width: 15%; }
th.product-quantity { width: 25%; }
th.product-subtotal { width: 20%; }


/* pan.component.css */
.table-secondary td {
  background-color: #f8f9fa !important;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.card {
  border-radius: 10px;
}

.form-control[readonly] {
  background-color: #f8f9fa;
  border-color: #e9ecef;
}


.modal-title h5 {
  display: inline;
  font-size: 2.5rem; /* Taille légèrement plus grande */
  color: #000000; /* Optionnel: couleur verte pour mise en valeur */
  font-weight: bold;
}


.checkout__wrapper {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.checkout__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout__total {
  font-weight: bold;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}


