<!--reservation-->
<div class="reservation reservation__space">
  <div class="container">
    <div class="reservation__wrapper">
      <h2 class="text-uppercase text-center rr-fw-bold mb-50 mb-xs-30">Créer une réservation</h2>
      <div class="row">
        <!-- Nombre de personnes - toute la ligne -->
        <div class="col-md-6 col-sm-6 d-flex justify-content-end flex-column">
          <div class="reservation__select">
            <label>NOMBRE DE PERSONNES *</label>
            <input id="nombre" name="nombre" type="number" placeholder="1">
          </div>
        </div>
 <div class="col-md-6 col-sm-6 d-flex justify-content-end flex-column">
        
        </div>
        <!-- Date et Heure -->
        <div class="col-md-6 col-sm-6 d-flex justify-content-end flex-column">
          <div class="reservation__input">
            <label>SÉLECTIONNER UNE DATE *</label>
            <input id="datepicker" name="date" type="text" class="datepicker" placeholder="AA-MM-JJ">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 d-flex justify-content-end flex-column">
          <div class="reservation__input time">
            <label>SÉLECTIONNER L’HEURE *</label>
            <input type="time" value="09:00:00">
          </div>
        </div>

        <!-- Nom et téléphone -->
        <div class="col-md-6 col-sm-6 d-flex justify-content-end flex-column">
          <div class="reservation__input">
            <label>Votre nom *</label>
            <input type="text" placeholder="Votre nom">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 d-flex justify-content-end flex-column">
          <div class="reservation__input">
            <label>Numéro de téléphone *</label>
            <input type="tel" placeholder="Numéro de téléphone">
          </div>
        </div>

        <!-- Message -->
        <div class="col-md-12 d-flex justify-content-end flex-column">
          <div class="reservation__input">
            <label>Votre message spécial *</label>
            <textarea name="text" id="text" placeholder="Parlez-nous de votre demande spéciale"></textarea>
          </div>
        </div>
      </div>

      <!-- Bouton -->
      <div class="reservation__btn text-center">
        <a href="food-menu.html" class="rr-btn hover-anim">Réserver une table<span class="hover-bg"></span></a>
      </div>
    </div>
  </div>
</div>
<!--reservation-->
