
<!-- Body main wrapper start -->
<main>
    
    
     <!-- banner-3 area start -->
     <section id="banner" class="banner-3 banner-3__space overflow-hidden" style="height: 600px; padding-top: 30px; padding-bottom: 30px;">
        <div class="banner-3__bg-shape"><img src="/assets/imgs/banner-3/bg-shape.png" alt="image not found"></div>
        <div class="container">
            <div class="banner-3__shape-1 upDown"><img src="/assets/imgs/banner-3/shape-1.png" alt="image not found" style="width: 200%"></div>
            <div class="banner-3__shape-2 upDown"><img src="/assets/imgs/about-us/shape-1.png" alt="image not found" style="width: 150%"></div>
            <div class="banner-3__shape-3 upDown"><img src="/assets/imgs/banner-3/shape-3.png" alt="image not found" style="width: 150%"></div>
            <div class="row">
                <div class="col-xl-7">
                    <div class="banner-3__content">
                        <h1 class="banner-3__content-title">Food. <br> Home…</h1>
                        <p class="text-white-80 mb-55 mb-xs-30">Welcome to our restaurant, where every dish is a moment of delight.
                            Whether you choose to order on-site, reserve your table in advance, or simply have your meal delivered to your door, our team welcomes you with a friendly atmosphere, and our chefs prepare homemade recipes with carefully selected ingredients.</p>

                        
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="banner-3__media">
                        <img class="downUp" src="/assets/imgs/banner-3/burger.png" alt="image not found" style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-3 area end -->

    


    <!-- client-testimonial area start -->
 <section class="client-testimonial section-space-120 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="client-testimonial__wrapper">
                        <div class="swiper client-testimonial__active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="client-testimonial__content text-center">
                                        <h6 class="client-testimonial__content-title text-uppercase mb-35 mb-xs-15">Dear customers,</h6>
                                        <div class="client-testimonial__rating mb-30">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>

                                        <p class="mb-35">“ Welcome to our website! We offer delicious dishes, carefully prepared with fresh, high-quality ingredients.”</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client-testimonial area end -->

     
    


    



    <!-- restaurant-info area start -->
 <section id="about-us" class="restaurant-info  bg-theme-gray overflow-hidden section-space-120">
    <div class="container">
        <div class="restaurant-info__shape-3 upDown"><img src="/assets/imgs/restaurant-info/shape-3.png" alt="image not found"></div>
        <div class="restaurant-info__shape-4 upDown"><img src="/assets/imgs/restaurant-info/shape-4.png" alt="image not found"></div>
        <div class="row">
            <div class="col-xl-6">
                <div class="restaurant-info__media">
                    <div class="restaurant-info__shape-1"><img class="autoRotate" src="/assets/imgs/restaurant-info/shape-1.png" alt="image not found"></div>
                    <div class="restaurant-info__shape-2 upDown"><img src="/assets/imgs/restaurant-info/shape-2.png" alt="image not found"></div>
                    <img class="image-1 wow clip-a-z" src="/assets/imgs/about-us/about-us-1.jpg" alt="image not found">
                    <img class="image-2  wow clip-a-z" src="/assets/imgs/team/team-6.png" alt="image not found">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="restaurant-info__content fade-wrapper">
                    <div class="section-2__title-wrapper fade-top mb-55 mb-xs-30">
                        <span class="section-2__subtitle text-uppercase color-theme-primary mb-10">RESTAURANT INFORMATION...</span>
                        <h2 class="section-2__title text-uppercase mb-20" data-text-animation="fade-in-right" data-split="char" data-duration="0.7" data-stagger="0.04">DELICIOUS MEALS DELIVERED TO YOUR DOOR.</h2>
                        <p class="mb-0 fade-top">Experience exceptional dining with carefully selected ingredients designed to delight your taste buds. Our varied menu, prepared with passion, guarantees unique flavors and always-fresh dishes. Whether it’s for a family dinner or a meal with friends, we take care of everything from the kitchen to your doorstep.</p>
                    </div>

                    <div class="restaurant-info__wrapper">
                        <div class="restaurant-info__item fade-top">
                            <div class="restaurant-info__item-icon">
                                <img src="/assets/imgs/restaurant-info/icon-1.svg" alt="image not found">
                            </div>
                            <div class="restaurant-info__item-text">
                                <h6 class="text-uppercase"><a >PREMIUM QUALITY</a></h6>
                            </div>
                        </div>
                        <div class="restaurant-info__item fade-top">
                            <div class="restaurant-info__item-icon">
                                <img src="/assets/imgs/restaurant-info/icon-3.svg" alt="image not found">
                            </div>
                            <div class="restaurant-info__item-text">
                                <h6 class="text-uppercase"><a>GUARANTEED FRESHNESS</a></h6>
                            </div>
                        </div>
                        <div class="restaurant-info__item fade-top">
                            <div class="restaurant-info__item-icon">
                                <img src="/assets/imgs/restaurant-info/icon-2.svg" alt="image not found">
                            </div>
                            <div class="restaurant-info__item-text">
                                <h6 class="text-uppercase"><a >A WIDE RANGE OF DISHES</a></h6>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- restaurant-info area end -->


    <!-- team area start -->
    <section class="gallery section-space-120 fade-wrapper">
        <div class="container">
            <div class="row mb-minus-30">
                <div class="col-lg-6 col-md-12">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-1.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Drinks</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-2.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Cakes</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-3.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Drinks</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-4.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Pasta</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-5.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Drinks</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-6.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Sandwiches</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-7.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Cakes</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-8.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Sandwiches</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="gallery__item fade-top">
                        <div class="gallery__item-media">
                            <img src="/assets/imgs/gallery/gallery-9.jpg" alt="image not found">
                        </div>
                        <div class="gallery__item__content">
                            <h6 class="text-uppercase">Drinks</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team area start -->




 

    
</main>
<!-- Body main wrapper end -->
